rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }

    function isUserAuthenticated(userId) {
      return isAuthenticated() && userId == request.auth.uid;
    }

    // ユーザーデータのスキーマ検証
    function isValidUser(user) {
      return user.size() == 3
      && 'createdAt' in user && user.createdAt is timestamp
      && 'email' in user && user.email is string
      && 'userId' in user && user.userId is string;
    }

    // カテゴリーデータのスキーマ検証
    function isValidCategory(category) {
      return category.size() == 3
      && 'name' in category && category.name is string
      && 'genre' in category && category.genre is string
      && 'createdAt' in category && category.createdAt is timestamp;
    }

    function isValidQuiz(quizData) {
      return quizData.size() == 5
      && 'problemStatement' in quizData && quizData.problemStatement is string
      && 'answer' in quizData && quizData.answer is string
      && 'splitAnswer' in quizData && quizData.splitAnswer is list
      && 'errorOption' in quizData && quizData.errorOption is map
      && 'createdAt' in quizData && quizData.createdAt is timestamp;
    }

    match /users/{userId} {

      // ユーザー情報の作成のルール
      allow create: if isAuthenticated()
      // スキーマ検証
      && isValidUser(request.resource.data)
      // データのバリデーション
      && request.resource.data.userId == userId;

      match /categories/{categoryId} {
        // カテゴリーデータの読み取りのルール
        allow read: if isUserAuthenticated(userId);

        // カテゴリーデータの作成のルール
        allow create: if isUserAuthenticated(userId)
        // スキーマ検証
        && isValidCategory(request.resource.data)

        // カテゴリーデータの更新のルール
        allow update: if isUserAuthenticated(userId)
        && isValidCategory(request.resource.data)
        && request.resource.data.createdAt == resource.data.createdAt;

        // カテゴリーデータの削除のルール
        allow delete: if isUserAuthenticated(userId);

        match /quizCollection/{quizId} {
            // クイズデータの読み取りのルール
          allow read: if isUserAuthenticated(userId);

          // クイズデータの作成のルール
          allow create: if isUserAuthenticated(userId)
          && isValidQuiz(request.resource.data)

          // クイズデータの削除のルール
          allow delete: if isUserAuthenticated(userId);
        }
      }
    }
  }
}
