.header {
    width: 100%;
    z-index: 999;
    transition: 0.5s;
    .menu {
        .pc_menu {
            a,
            span {
                cursor: pointer;
                margin-left: 30px;
                @include hover-underline("slide", "center");
                &:last-child {
                    @include rem(23);
                }
            }
        }
        .hamburger-btn {
            .white {
                color: #fff;
            }
        }
    }
}
