.main {
    .main_parts {
        position: relative;
        .main_text {
            h1 {
                @include rem(30);
            }
            img {
                width: 50vw;
            }
        }
        .main_quiz {
            position: absolute;
            top: 17.5em;
            @include rem(18);
        }
    }
}
