.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 10px 100px;
}

@media(max-width: 480px) {
    .header {
        padding: 10px 30px;
    }
}
