.use {
    .use_heading {
        h2 {
            @include rem(33);
            &:before {
                width: 50px;
                height: 3px;
                top: 50%;
                left: 28vw;
            }
            @media (min-width: 1400px) {
                &:before {
                    left: 33vw;
                }
            }
            &:after {
                width: 50px;
                height: 3px;
                top: 50%;
                right: 28vw;
            }
            @media (min-width: 1400px) {
                &:after {
                    right: 33vw;
                }
            }
        }
    }
    .use_contents {
        .use_content_part {
            .use_content_part_text {
                width: 34%;
                line-height: 2.2em;
            }
            .use_content_part_gif {
                width: 350px;
                height: 300px;
                border: 1px solid #000;
                border-radius: 30px;
                background: #fff;
                z-index: 20;
                video {
                    width: 348px;
                    height: 260px;
                }
            }
        }
    }
}

.category_button {
    @include rem(16);
    font-weight: 600;
    line-height: 1.5;
    padding: 1rem 3rem;
}

.margin-right {
    margin-right: 80px;
}

.margin-left {
    margin-left: 80px;
}
