.result {
    .result_content {
        width: 70vw;
        height: 85vh;
        @media (max-width: 1450px) {
            width: 80vw;
            height: 90vh;
        }
        .result_screen {
            .result_number {
                li {
                    span {
                        @include rem(20);
                    }
                }
            }
        }
        .option_button {
            button {
                @include rem(16);
            }
        }
    }
}
